<!DOCTYPE html>
<html>

<head>
    <title>FastStart: Log Viewer</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script>
        function filterLogs() {
            const input = document.getElementById("logFilter").value.toLowerCase();
            const rows = document.querySelectorAll("#logTable tbody tr");
            rows.forEach(row => {
                const cells = Array.from(row.getElementsByTagName("td"));
                const match = cells.some(cell => cell.textContent.toLowerCase().includes(input));
                row.style.display = match ? "" : "none";
            });
        }

        function filterColumn(colIndex) {
            const inputs = document.querySelectorAll("th input");
            const rows = document.querySelectorAll("#logTable tbody tr");
            rows.forEach(row => {
                let showRow = true;
                const cells = row.getElementsByTagName("td");
                inputs.forEach((input, idx) => {
                    const filterValue = input.value.toLowerCase();
                    const cell = cells[idx];
                    if (cell) {
                        const cellValue = cell.textContent.toLowerCase();
                        if (filterValue && !cellValue.includes(filterValue)) {
                            showRow = false;
                        }
                    }
                });
                row.style.display = showRow ? "" : "none";
            });
        }

        function refreshPage() {
            location.reload();
        }

        async function fetchLogs(selectedDate = null) {
            let logDate = selectedDate || localStorage.getItem("selectedDate");

            if (!logDate) {
                const today = new Date();
                logDate = today.toISOString().split('T')[0]; // Format: YYYY-MM-DD
            }

            localStorage.setItem("selectedDate", logDate); // Save for later reloads

            const formattedDate = logDate.replace(/-/g, '');
            const fullPath = window.location.href.split('?')[0];
            const url = `${fullPath}/data?date=${formattedDate}`;

            try {
                const response = await fetch(url);
                if (!response.ok) throw new Error(`Response status: ${response.status}`);
                const data = await response.json();

                const logs = data.logs;
                const headerList = data.columns;

                generateHeader(headerList);
                generateRecords(headerList, logs);
                setDate(logDate);
            } catch (error) {
                console.error("Failed to fetch logs:", error);
            }
        }


        function generateHeader(headerList) {

            const table = document.getElementById("logTable");
            const tableHeader = table.getElementsByTagName("thead")[0];
            const tableHeaderRecord = tableHeader.getElementsByTagName("tr")[0];

            // Clear existing headers to prevent duplication
            tableHeaderRecord.innerHTML = "";

            headerList.forEach((headerText, index) => {
                const newHeaderCell = document.createElement("th");
                newHeaderCell.className = "py-3 px-4 border-b border-gray-600";
                newHeaderCell.textContent = headerText;

                // Add a line break
                newHeaderCell.appendChild(document.createElement("br"));

                // Create input filter field
                const filterElement = document.createElement("input");
                filterElement.type = "text";
                filterElement.placeholder = "Filter...";
                filterElement.className = "mt-1 p-1 w-full bg-gray-900 text-gray-300 border border-gray-600 rounded";

                // Correct onkeyup event
                filterElement.onkeyup = () => filterColumn(index);

                newHeaderCell.appendChild(filterElement);
                tableHeaderRecord.appendChild(newHeaderCell);
            });

        }

        function generateRecords(headerList, logs) {

            const table = document.getElementById("logTable");
            const tableBody = table.getElementsByTagName("tbody")[0];

            tableBody.innerHTML = "";

            logs.forEach((log, index) => {
                const tableRecord = document.createElement("tr");
                // Zebra striping for rows
                tableRecord.className = (index % 2 == 0) ? "bg-gray-800 hover:bg-gray-700" : "bg-gray-900 hover:bg-gray-800"

                headerList.forEach(header => {
                    const cell = document.createElement("td");
                    cell.className = "py-2 px-4 border-b border-gray-700";

                    let value = log[header] || "";
                    if (typeof value === "object") {
                        value = "<pre>" + JSON.stringify(value, null, 2) + "</pre>";
                    }

                    cell.innerHTML = value;
                    tableRecord.appendChild(cell);
                });
                tableBody.appendChild(tableRecord);

            });

        }

        function setDate(date) {
            const h1 = document.getElementById("log-heading");
            h1.innerHTML = `Logs for ${date}`;
            document.getElementById("logDate").value = date;
        }


        window.onload = function () {
            let savedDate = localStorage.getItem("selectedDate");
            if (!savedDate) {
                const today = new Date();
                savedDate = today.toISOString().split('T')[0];
            }
            fetchLogs(savedDate);
        };

    </script>
</head>

<body class='p-6 bg-gray-900 text-gray-200'>
    <header class='mt-6 p-4 bg-gray-800 text-gray-400 rounded-lg'>
        <h1 class='text-xl font-bold text-gray-300'>FastStart: A FastAPI Starter Kit</h1>
        <p>Organization: Hoopoes</p>
        <p>Contributor: Muhammad Umar Anzar</p>
        <p>Contact Email: <a href='mailto:omer.anzar2@gmail.com'
                class='text-blue-400 hover:underline'>omer.anzar2@gmail.com</a></p>
        <p>GitHub Repository: <a href='https://github.com/Hoopoes/FastStart' target='_blank'
                class='text-blue-400 hover:underline'>FastStart</a></p>
    </header>
    </br>
    <div class='bg-gray-800 shadow-md rounded-lg p-4 mb-6'>
        <div class='flex justify-between items-center'>
            <h1 id=log-heading class='text-2xl font-bold text-white'>Logs for</h1>
            <div class='flex items-center gap-2'>
                <input type='date' id='logDate' class='p-2 bg-gray-700 text-gray-300 border border-gray-600 rounded'>
                <button onclick="fetchLogs(document.getElementById('logDate').value)"
                    class='flex items-center gap-1 p-2 bg-blue-600 text-white rounded hover:bg-blue-700'>
                    <span class="material-icons">sync</span> Fetch Logs
                </button>
            </div>
        </div>
        <div class='flex items-center gap-4 mt-4'>
            <input type='text' id='logFilter' onkeyup='filterLogs()' placeholder='Search logs...'
                class='p-2 w-1/3 border border-gray-600 rounded bg-gray-700 text-gray-300'>
            <button onclick="fetchLogs(localStorage.getItem('selectedDate'))" 
                class='p-2 bg-green-600 text-white rounded hover:bg-green-700'>
                <span class="material-icons">refresh</span>
            </button>
        </div>
    </div>


    <table id='logTable' class='min-w-full bg-gray-800 text-gray-200 shadow-md rounded-lg'>
        <thead class='bg-gray-700'>
            <tr></tr>
        </thead>
        <tbody></tbody>
    </table>

</body>

</html>